.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.sidebar li:hover {
  background-color: #ddd;
}

/* body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.chat-container {
  flex: 1; /* Grow to fill remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Position at the bottom */
  padding-bottom: 20px; /* Add some padding to the bottom */
}

.chat-container {
  flex: 1;
  flex-direction: column;
  justify-content:space-between;
  padding: 20px;
}

.title {
  
}

.title h1 {
  font-size: 24px;
}

.edited-text {
  margin-top: 20px;
}

.search-bar-container {
  margin-top: 20px;
}
