.dropdown-container {
    position: relative;
    top: 10px;
    /* display: inline-block; */
}

/* .dropdown-header {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
} */

.dropdown-options {
    /* position: absolute; */
    top: 100%;
    left: 0;
    /* width: 100%; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.dropdown-text-input {
    border: none;
}